/* @group Layout */

#page-wrapper {
    width:90%;
}
.navbar.fixed-top{
 background: #a8213a;
 align-items: center;
}
.columnleft.blockcolumn.has-blocks {
    max-width: 30% !important;
}

/* @end */

body {
    background-image: url([[pix:theme|core/body_bg_sml]]);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: [[setting:themecolor]] !important;
    border-top: 0.313rem solid [[setting:themetrimcolor]];
}
a:link,
a:visited {
    color: [[setting:contentlinkcolor]];
}
a:hover,
a:active,
h2.headingblock {
    color: [[setting:themecolor]];
}
#page-site-index {
    background-color: [[setting:themecolor]];
    background-repeat: repeat-x;
    background-position: left [[setting:bannerheight]];
    border: 0;
}
div#page-header td {
    border: 0;
}
h2.headingblock {
    border-width: 0 0 0.06rem;
}
table#home_title h1 {
    color: [[setting:themetrimcolor]];
}
.block_calendar_month .calendartable .today {
    border-width: 0.06rem;
    border-style: dotted;
}
.block_rss_client .list li {
    border-width: 0.06rem 0 0;
}
#page-header {
    border-width: 0 0 0.125rem;
    margin: 0;
}
h2.headingblock,
.block_rss_client .list li,
#page-header {
    border-style: solid;
}
h2.headingblock,
.block_calendar_month .calendartable .today,
.block_rss_client .list li,
#page-header {
    border-color: [[setting:menutrimcolor]];
}
a.logo {
    background-image: url([[pix:theme|logo/logo]]);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    height: 100%;
}
#hometopblocks {
    height: [[setting:bannerheight]];
    overflow: hidden;/*---------------------------------------add---------------------------------------------*/

}
#toplinks {
    background: [[setting:menucolor]];
    height: [[setting:bannerheight]];
}
#homeblock {
    background-image: url([[setting:banner]]);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #ccc;
    height: [[setting:bannerheight]];
    width: 46.875rem;
    background-size: contain;
}
#headerstrip {
    background-color: [[setting:themecolor]];
    overflow:hidden; /*---------------------------------------add----------------------------------------*/
}
#ebutton #editbuttonoff input[type="submit"] {
    background-image: url([[pix:theme|editmode_off]]);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #777;
}
#ebutton #editbuttonon input[type="submit"] {
    background-image: url([[pix:theme|editmode_on]]);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #777;
}
#dndupload-status,
#editingmode {
    border-width: 0 0 0.188rem;
    border-style: solid;
    border-color: [[setting:menutrimcolor]];
}
div.jcontrolsleft {
    max-width: [[setting:breadcrumbwidth]];
}
#page-my-index .coursebox h3.main{
    background-image: url([[pix:theme|core/icons]]);
    background-repeat: no-repeat;
    background-position: left top;
}
.coursebox .info h3{
    background-image: url([[pix:theme|core/icons]]);
    background-repeat: no-repeat;
    background-position: left top;
}
.coursebox {
    border-width: 0 0 0.06rem;
    border-style: dashed;
    border-color: [[setting:themecolor]];
}
#page-my-index .course_title{
    background-image: url([[pix:theme|core/icons]]);
    background-repeat: no-repeat;
    background-position: left top;
}
#adminsettings h2.main{
    background-image: url([[pix:theme|core/icons]]);
    background-repeat: no-repeat;
    background-position: left -4.75rem;
}
#page-footer {
    border-width: 0.188rem 0 0;
    border-style: solid;
    border-color: [[setting:themecolor]];
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.footer-right .copyright {
    margin-top: 0; 
    margin-bottom: 0;
}
#page-footer .footer-left #logo {
    background-image: url([[pix:theme|footer/moodle-logo]]);
    background-repeat: no-repeat;
    background-position: left top;
}
.sectionname {
    color: [[setting:themecolor]];
}
.tabtree .tabrow0 li a {
    background-image:url([[pix:theme|tab/left]]);
}
.tabtree .tabrow0 li a:hover {
    background-image:url([[pix:theme|tab/left_hover]]);
}
.tabtree .tabrow0 li a span {
    background-image:url([[pix:theme|tab/right]]);
}
.tabtree .tabrow0 li a:hover span {
    background-image:url([[pix:theme|tab/right_hover]]);
}
.tabtree .tabrow0 ul,
.tabtree .tabrow0 div {
    background-image: url([[pix:theme|tab/tabrow1]]);
}
table#home_title h2 {
    color: [[setting:themecolor]];
}
table#links a {
    background-color: [[setting:themecolor]];
}
#page-login-index {
    background-color: [[setting:themecolor]];
}
#page-login-index #page-wrapper h2 {
    color: [[setting:themecolor]];
}
.loginbox {
    border-width: 0.188rem;
    border-style: solid;
    border-color: [[setting:themetrimcolor]];
}
.loginbox .loginform .form-label {
    color: [[setting:themecolor]];
}
/* @group Blocks */

.block .header {
    background-color: [[setting:themecolor]];
}
.block .content a {
    color: [[setting:blocklinkcolor]];
}
#region-pre .block .header {
    background-color: [[setting:themecolor]];
}
#region-post .block .header {
    background: [[setting:themecolor]];
}
.block_login.block {
    background-color: [[setting:themecolor]];
}
#toplinks .block {
    color: [[setting:menulinkcolor]] !important;
}

#toplinks .block .header {
    border-bottom: 0.06rem solid [[setting:menutrimcolor]] !important;
}

#toplinks .block_html .content,
#toplinks .block_html .content a {
    color: [[setting:menulinkcolor]];
}
#toplinks .block_html .content ul li:hover {
    background: [[setting:menuhovercolor]];
}
#toplinks .block_html .content ul li {
    border-bottom: [[setting:menutrimcolor]] 0.06rem dashed;
}
#search .block_myprofile div.content {
    color: [[setting:themecolor]];
}
#search .block_myprofile img.profilepicture {
    border: 0.06rem solid [[setting:themecolor]];
}
/* @end */


/* @group Dock */

#dock .dockedtitle {
    background-color: [[setting:themecolor]];
}

#dock .dockedtitle.activeitem {
    background-color: [[setting:themecolor]];
}

#dockeditempanel .dockeditempanel_hd {
    background-color: [[setting:themecolor]];
}

/* @end */

/* @group Menu */

ul.dropdown ul li {
    border-width: 0.06rem;
    border-style: solid;
    border-color: #666 #ccc [[setting:menucolor]];
}
ul.dropdown ul li:first-child {
    border-width: 0.188rem 0 0;
    border-style: solid;
    border-color: [[setting:menutrimcolor]];
}
#menuwrap,
#custommenu,
ul.dropdown ul li,
ul.dropdown span,
ul.dropdown span a,
ul.dropdown ul span,
ul.dropdown ul span a,
ul.dropdown ul ul span,
ul.dropdown ul ul span a,
ul.dropdown li.clickable-with-children > a
ul.dropdown ul li.clickable-with-children > a,
ul.dropdown ul ul li.clickable-with-children > a{
    background-color: [[setting:menucolor]];
}
ul.dropdown ul span,
ul.dropdown ul span a,
ul.dropdown ul ul span,
ul.dropdown ul ul span a,
ul.dropdown ul li.clickable-with-children > a,
ul.dropdown ul ul li.clickable-with-children > a {
    background-image: url([[pix:theme|menu/nav-arrow-right]]);
}
ul.dropdown ul ul li,
ul.dropdown ul ul ul li {
    background-color: [[setting:menucolor]];
}
ul.dropdown *.open,
ul.dropdown ul ul *.open,
ul.dropdown ul a.open:hover,
ul.dropdown a:hover,
ul.dropdown li:hover > span,
ul.dropdown li:hover > span a,
ul.dropdown ul li:hover > span,
ul.dropdown ul li:hover > span a,
ul.dropdown ul ul li:hover > span,
ul.dropdown ul ul li:hover > span a {
    background-color: [[setting:menuhovercolor]];
}
ul.dropdown ul ul *.open,
ul.dropdown ul li:hover > span,
ul.dropdown ul li:hover > span a,
ul.dropdown ul ul li:hover > span,
ul.dropdown ul ul li:hover > span a,
ul.dropdown li.clickable-with-children:hover > a {
    background-image: url([[pix:theme|menu/ab-arrowover]]);
}
/* @end */

/* @group Modules */
.forumpost .row.header {
    border-width: 0 0 0.06rem;
    border-style: dashed;
}
.path-mod-forum .forumheaderlist th.header {
    border-width: 0 0 0.25rem;
    border-style: solid;
}
.path-mod-forum .forumheaderlist th.header,
.forumpost .row.header {
    border-color: [[setting:themetrimcolor]];
}
.forumpost .row.header .subject,
.forumpost .topic a:hover {
    color: [[setting:themecolor]] ;
}
.forumpost .topic {
    background-color: #fff;
    background-image: url([[pix:theme|alert-overlay]]);
    background-repeat: repeat-x;
}
.path-mod-forum .forumheaderlist th.header,
#page-mod-quiz-edit .questionbankwindow div.header {
    background-color: [[setting:themecolor]];
}

/* @end */

/* @group Custom CSS Settings */
[[setting:customcss]]
/* @end */
.generaltable th, .generaltable td, .generaltable thead th, .mform fieldset {
    border: 0;
  }
  #custommenu ul.dropdown>li span a {
    height: 2.188rem;
}
ul.dropdown li a, ul.dropdown span.customitem a {
    padding: 0.625rem 1.25rem;
    line-height: 1;
}
.headermenu {
    background: #d2d4d7;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.block_tree .tree_item.branch:hover, p.tree_item.hasicon.tree_item.leaf:hover{
    background: #eed3d8;
}
.block_tree .tree_item.branch{
    padding: 0.313rem;
}
.simplesearchform .btn-submit {
    background-color: #f8f9fa;
    margin: 0;
}
.simplesearchform .input-group input.form-control {
    margin: 0;
}
p.tree_item.hasicon.tree_item.leaf i {
    opacity: 0;
}