/* @group Core */

body {
    margin: 0;
    padding: 0;
    color:#333333;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:link,
a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
hr {
    border-bottom: 0.06rem dotted #808080;
    border-top: 0rem;
}
h2.headingblock {
    font-size: 1.4em;
    font-weight: 200;
    text-transform: uppercase;
}

.generalbox {
    border:0 none;
}
table {
    font-size: 85%;
}

/* @end */

/* @group Page */

#page {
    font-size: 90%;
    font-family: Helvetica,Arial,sans-serif;
}
.pagelayout-mycourses #page{
    margin-top: 3.125rem;
}
header#page-header .col-12.pt-3.pb-3 {
    padding-left: 0;
    padding-right: 0;
}
#page-content {
    padding-bottom: 0.625rem;
    display: block;
}

/* @end */

/* @group Header */

#page-header {
    height: 8.313rem;
    width: 100%;
    background: transparent;
}

#page-header .logininfo,
#page-header .logininfo a {
    color: #fff;
    margin-top: -3.125rem;
    font-size: 0.75rem;
}
a.logo {
    width: 15.625rem;
    display: block;
    margin: 0rem;
    float: left;
}

.headermenu {
    float:right;
    clear: right;
    font-size:1em;
    margin:0rem;
    text-align:right;
    position: relative;
    top: 0.625rem;
}

.langmenu {
    margin-top: 0.125rem;
}

.headermenu {
    right: 0.625rem;
}

/* @group Homepage */

#hometopblocks {
    width: 100%;
    background: transparent;
    vertical-align: middle;
}
#toplinks {
    width: 15.625rem;
    float: left;
}

#headerstrip {
    width: 100%;
    height: 3.125rem;
    vertical-align: middle;
    font-size: 1em;
    text-transform: uppercase;
}

#search {
    background: #fff;
    width: 15.625rem;
    height: 3.125rem;
    float: left;
    margin: 0;
    padding: 0;
}

#sitename {
    float: left;
    text-align: left;
    padding: 0.875rem;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #fff;
    width: auto;
}


/* @end */

/* @group New Icons */

#page-my-index .coursebox h3.main{
    padding-left:2.813rem;
    padding-top: 0.313rem;
    padding-bottom:0.313rem;
}

.coursebox .info h3{
    padding-left:2.5rem;
    padding-top:0.625rem;
    padding-bottom:0.563rem;
}

#page-my-index .course_title{
    padding-left:2.813rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border-bottom: 0.06rem dotted #ccc;
}

#page-my-index .block .content {
    margin: 0;
    background: #f6e9eb;
    border: 0 !important;
    border-radius: 0.5rem;
}

#adminsettings h2.main{
    padding-left:2.75rem;
    padding-top:0.625rem;
    padding-bottom:0.625rem;
}

/* @end */

/* @group Editing Button */

#ebutton {
width : auto;
float : right;
text-align : right;
color: #fff;
margin-top: 0rem;/*dc*/
margin-right: 1.25rem;
}

#sitename #ebutton {
    margin-top: 0rem;
}

#ebutton a {
    color: #fff;
}

#ebutton #edittoggle {
    font-size:.65em;
}

#ebutton input[type="submit"] {
    float: right;
    padding: 0.313rem;
    -moz-border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    border-radius: 0.625rem;
    color: #fff;
    border: 0rem none;
    margin-left: 0.313rem;
    padding-left: 1.125rem;
    padding-right: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    background: #777;
    margin-top: 0.06rem;/*dc*/
}

/* @end */

/* @group Edit Mode */

#dndupload-status,
#editingmode {
    text-align: center;
    background: #ff6666;
    color: #fff;
    padding: 0.313rem;
    font-size: .9em;
}

#dndupload-status {
    width: 100%;
    margin-top: -0.06rem;
}

#editingmode {
    display: none;
}

/* @end */

/* @group Navbar & Breadcrumb */



.nav_title {
    color: #fff;
    font-size: .75em;
    font-weight: normal;
    padding-top: 0.625rem;
}

.breadcrumb {
text-transform : uppercase;
font-weight : bold;
font-size : 1em;
margin-left : 0rem;
margin-top: -0.5rem;
color: #fff;
}

.breadcrumb a {
color : #fff !important ;
}

.breadcrumb ul {
color : #fff;
line-height : 2.188rem;
}
.pagelayout-mycourses .breadcrumb li a, .pagelayout-mycourses .breadcrumb li {
    color : #000 !important;
}

.breadcrumb li a, .breadcrumb li, .breadcrumb li a:visited {
font-weight : 200;
text-decoration : none;
color: #fff;
}
.breadcrumb li a:hover {
text-decoration:none;
border-bottom: 0.06rem dashed #fff;
}
.breadcrumb li img {
vertical-align : middle;
}
.arrow, .arrow_button input {
color : #aaa;
}

div#jcontrols_button span.arrow.sep {
font-size : 0.06rem;
color : #dadada;
display : inline-block;
width : 1rem;
}

div#jcontrols_button a {
    color: #fff;
}

div.jcontrolsleft {
    margin-left : 0.938rem;
    font-weight : 600;
    float : left;
    overflow : hidden;
    height : 100%;
}

#coursesearchnavbar {
    font-size: .8em;
    margin-top: -0.188rem;
    text-align: left;
}

#coursesearchnavbar input {
    float: left;
    width: 6.25rem;
    margin: 0rem;
    margin-top: 0.313rem;
    font-size: 0.75rem;
}

#coursesearchnavbar input[type="submit"] {
    width: 2.188rem;
    padding: 0.5rem;
    padding-top: 0.25rem;
    height: 1.25rem;
}

/* @end */



/* @end */

/* @group Footer */

#page-footer {
    background: transparent;
    height: auto;
    clear: both;
    float: left;
    width: 98%;
    margin: 0;
    padding: 1%;
    color: #4b4b4b;
    line-height: 2em;
    font-size: 1em;
}
#page-footer a:link,
#page-footer a:visited  {
    color: #aaa;
    text-decoration:none;
}
#page-footer a:hover,
#page-footer a:active {
    color: #c30;
    text-decoration:none;
}

#page-footer .footer-left {
    float: left;
    text-align: left;
    color: #999;
}

#page-footer .footer-left p {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
}

#page-footer .footer-left #logo {
    width: 6.25rem;
    height: 1.875rem;
    margin-top: 0.313rem;
}

#page-footer .footer-right {
    float: right;
    text-align: right;
    color: #aaa;
}

.footer-right .copyright {
    margin-top: -0.5rem;
    margin-bottom: -0.625rem;
}



/* @end */
/* @group Collapse All - Expand All */

div.controls .expandall,
div.controls .collapseall {
    font-size: .8em;
    color: #008db0;
    margin: 0.125rem;
    padding: 0;
    float: right;
    clear: both;
    text-transform: capitalize;
    font-variant: small-caps;
    border-bottom: 0.06rem solid #008db0;
}
.redirectmessage,
.continuebutton {
    text-align: center;
    font-size: 14pt;
    color: #444;
    padding-bottom: 0.625rem;
}



/* @end */

/* @group Button */
#loginbtn, input, button, select {
    cursor: pointer;
    margin-left: 0.313rem;
    margin-right: 0.438rem;
}


input#username,
input#password,
input[type="text"],
input[type="password"],
textarea {
    background-color: white;
    color: #4b4b4b;
    width: auto;
    cursor: default;
}



/* @end */

/* @group Coursebox Info & Summary */
.hidden.sectionname {
    display: none !important;
}
.sectionname {
    border-bottom: 0.06rem dashed #eee;
    padding-bottom: 0.188rem;
    font-weight: 200;
    font-size: 1.2em;
}

.section .content li {
    border-top: 0.06rem dashed #eee;
    border-left: 0.06rem solid #fff;
    padding-top: 0.313rem !important;
    padding-bottom: 0.313rem !important;

}

.section .content li:last-child {
    border-bottom: 0.06rem dashed #eee;
}



/* @end */

/* @group Course Section Topic & Weekly */

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
    border: 0.06rem solid #DDDDDD;
    list-style: none outside none;
    margin: 0.313rem 0 0;
    padding: 0;
}
.course-content ul.topics li.section {
  padding-top: 1em;
}
.path-course-view .headingblock {
    display: none; /* hides topic items title or weekly itens title */
    margin-bottom: 0.563rem;
}

.course-content ul.topics li.section .content {
margin: 0 0.625rem;
}

/* @end */

/* @group Login (Login Page) */

.loginbox .loginform .form-label {width:46%;}
.dir-rtl .loginbox .loginform .form-label {width:46%;}
.loginbox .loginform .form-input {width:53%;}



/* @end */

/* @group Theme Selector */

#page-admin-theme-index .generalbox {
    border: none;
}
.theme_screenshot {
    float: left;
    width: 18.75rem;
}
.theme_screenshot img {
    width: 17.188rem;
}
.theme_screenshot h2 {
    font-size: 2em;
}
.theme_screenshot h3 {
    font-size: 0.9em;
    margin: 1em 0 0;
}
.theme_screenshot p {
    font-size: 0.9em;
    margin: 0 0 1em;
}
.theme_description {
    margin-left: 18.75rem;
}
.theme_description h2 {
    padding-top: 0.5em;
}



/* @end */

/* @group Tabs */

.tabtree ul {
    text-align:center;
}
.tabtree .tabrow0 {
    width:100%;margin:1em 0rem;
}
.tabtree .tabrow0 li {
    margin-right:-0.25rem;
}
.tabtree .tabrow0 li.here {
    font-weight: bold;
}
.tabtree .tabrow0 li.here a {
    position:relative;z-index:102;
}
.tabtree .tabrow0 li a {
    padding-left:0.875rem;
    padding-top:0.625rem;
    background-repeat:no-repeat;
    padding-bottom:0.188rem;
    margin-bottom:-0.06rem;
}

.tabtree .tabrow0 li a span {
    background-repeat:no-repeat;
    background-position:100% 0%;
    padding-right:0.875rem;
    padding-top:0.625rem;
    padding-bottom:0.188rem;
}

.tabtree .tabrow0 ul,
.tabtree .tabrow0 div {
    font-weight: normal;
    background-position:0% 50%;
    border-top: 0.06rem dotted #eee;
    padding:0.25em 0rem;
    margin:0rem;
}
.tabtree .tabrow0 li.here .empty {
    display:block;
    height:0.06rem;
    overflow:hidden;
    padding:0rem;
    position:absolute;
    width:100%;
    bottom:-0.25rem;
}
.tabtree .tabrow1 li a,
.tabtree .tabrow1 li a:hover,
.tabtree .tabrow1 li a span,
.tabtree .tabrow1 li a:hover span {
    background-image:none !important;
}
.tabtree a.nolink,
.tabtree .here ul a.nolink,
.tabtree a.nolink:hover,
.tabtree .here ul a.nolink:hover {
    color: #888;
    text-decoration: none;
}
.tabtree .here a.nolink,
.tabtree .here ul .here a.nolink,
.tabtree .here a.nolink:hover,
.tabtree .here ul .here a.nolink:hover {
    color: black;text-decoration: none;
}



/* @end */

/* @group tab styles for ie6 & ie7 */

.ie7 .tabtree .tabrow0 li {
    margin-left: 0;
}

.ie7 .tabtree .tabrow0 li.first {
    margin-right: -0.25rem;
}
.ie7 .tabtree .tabrow0 li.onerow {
    margin-right: 0;
}
.ie7 .tabtree .tabrow0 a {
    display: inline-block;
    padding: 0.5rem 0 0.35em 0.813rem;
    line-height: 1.5em;
}
.ie7 .tabtree .tabrow0 a span {
    padding: 0.625rem 1em 0.625rem 0;
}
.ie7 .tabtree .tabrow0 div {
    top: 2.6em;padding: 0.2em 0;
}
.ie7 .tabtree .tabrow0 div.empty {
    margin-right: 0;
}
.ie7.mod-quiz div.tabtree a span img.iconsmall {
    margin: 0;
    vertical-align: baseline;
    position: relative;
    top: 0.125rem;
}
.ie6 .tabtree {
    height: 100%;
}
.ie6 .tabtree .tabrow0 {
    padding-top: 0.625rem;
}
.ie6 .tabtree .tabrow0 li {
    margin-left: 0;
}
.ie6 .tabtree .tabrow0 li.first {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}
.ie6 .tabtree .tabrow0 li.last a {
    margin-right: 0;
}
.ie6 .tabtree .tabrow0 li.onerow {
    margin-right: 0;
}
.ie6 .tabtree .tabrow0 a {
    padding: 0 0 0 0.813rem;
}
.ie6 .tabtree .tabrow0 a span {
    padding: 0.75rem 1em 0.25rem 0;
}
.ie6 .tabtree .tabrow0 div {
    top: 3.5em;
    padding: 0.2em 0;
}
.yui-skin-sam .yui-panel-container {
    z-index: 999999!important;
}




/* @end */

/* @group Homepage */

/* @group Coursebox */

.coursebox {
    margin-bottom: 0.625rem;
    padding-bottom: 0.625rem;
}

.coursebox .info h3 {
    margin-top: 0rem;
}

ul.teachers {
    margin-left: 2.5rem;
    margin-top: -0.625rem;
}

/* @end */

/* @group Home_title */

table#home_title {
    border: 0.06rem solid #dededf;
    width: 100%;
    color: #666666;
}

table#home_title td {
    padding-left: 0.625rem;
}

table#home_title h1 {
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0.313rem;
    margin-top: 0.313rem;
}

table#home_title h2 {
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 0rem;
    margin-bottom: 0.313rem;
}

/* @end */

/* @group Home_info */

table#home_info {
    border: 0.06rem solid #dededf;
    width: 100%;
    background: #f0f0f0;
    color: #666;
    font-size: .9em;
}

table#home_info td {
    padding: 1.875rem;
    text-align: left;
    vertical-align: top;
    text-align: left !important;
}

table#home_info img {
    margin: -1.875rem;
}

table#links {
    border: 0.06rem solid #dededf;
    background: #fff;
    width: 100%;
    margin-bottom: -0.625rem;
    font-size: .9em;
}

table#links td {
    padding: 0.625rem;
}

table#links a {
    color: #fff;
    padding: 0.313rem;
    border: 0.06rem solid #dededf;
}
/* @end */

/* @end */

/* @group Performance Information */
#page-footer .performanceinfo {
    -moz-border-radius-topleft:0.938rem;
    -moz-border-radius-topright:0.938rem;
    -webkit-border-top-left-radius:0.938rem 0.938rem;
    -webkit-border-top-right-radius:0.938rem 0.938rem;
    bottom:0;
    left:-18.125rem !important;
    position:fixed;
    background-color:#444;
    width:36.25rem !important;
    border-width:0.75rem 0.75rem medium;
    margin:0 50% !important;
}

#page-footer .performanceinfo ul {
    text-align: center;
    margin: 0 auto;
}

#page-footer .performanceinfo li{
    display:block;
    list-style-type:none;
    float:left;
    padding:0.313rem 0;
    width:25%;
}

#page-footer .performanceinfo li var{
    font-size:1.3em;
    font-weight:700;
}

#page-footer .performanceinfo .green{
    color:#588E13 !important;
}

#page-footer .performanceinfo .blue{
    color: #4381c3;
}

#page-footer .performanceinfo .purple{
    color: #c052cf;
}

#page-footer .performanceinfo .orange{
    color: #e69b22;
}

#page-footer .performanceinfo .red{
    color: #df3b16;
}

#page-footer .performanceinfo .white{
    color:#FFF !important;
}

#page-footer .performanceinfo span{
    color:#fff;
    display: block;
}
/* @end */

/* @group Login Page */

#page-login-index {
    padding: 0;
    margin: 0rem;
    height: 62.5rem;
}

#page-login-index #page {
    width: 34.375rem;
}
#page-login-index #page-wrapper,
#page-login-index #page,
#page-login-index #page-content,
#page-login-index #region-main-box {
    background: none;
}

.loginbox {
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.loginbox .loginsub .desc {
    line-height: 2em;
}

.loginbox .loginform .form-label {
    padding-bottom: 0.625rem;
    padding-top: 0.125rem;
    text-transform: uppercase;
}

.loginbox .loginsub .forgetpass {
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 0.625rem;
}

.loginbox .signuppanel .subcontent {
    width: 90%;
}

#page-login-index #page-wrapper h2 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.6em;
}

#page-login-index #page-footer a{
    color: #fff !important;
}

#page-login-index #page-footer .footer-right {
    color: #fff;
}

/* @end */

/* @group Calendar */

.calendartable .today {
    border: 0.06rem dashed #ccc;
}

/* @end */

#page-course-index .coursebox {
    padding-bottom: 0.313rem;
    padding-top: 0.625rem;
}
.coursebox > .info > .coursename a {
    height: 1.25rem;
}

@media (max-width: 767.98px){
#page-header .card {
    border: 0;
    padding: 1rem;
}
.pagelayout-mycourses{
    width: max-content;
}
.navbar-expand .navbar-nav {
    display: flex!important;
}
}