/* @group Generic Blocks */

#region-pre .block, #region-post .block {
    margin-top: 0.938rem;
    margin-bottom:0rem;
    padding :0rem;
    border:0rem none;
    background : #fff;
}
.block .header {
    margin : 0 0 0 !important ;
    padding-top : 0 !important ;
    border-bottom :0rem none;
}
.block .header .block_action {
    float:right;
    margin:0 0.25rem;
    vertical-align:top;
}
.block .header .block_action input {
    margin-right:0.125rem;
}
.block .content {
    padding:0.625rem;
    border: 0.063rem solid #ccc;
    border-top:0rem none;
}
.block.hidden .content {
    display: none;
}
.block .content .userpicture {
    width:1rem;
    height:1rem;
    margin-right:0.25rem;
}
.block .content .list li.listentry {
    clear:both;
}
.block .content .list .c0 {
    display:inline;
}
.block .content .list .c1 {
    margin-left:0.313rem;
    display:inline;
}
.block .footer {
    margin-bottom: 0.25rem;
}
.block .blockannotation {
    font-size:0.75em;
    margin: -1em 0 1em;
}
.block.beingmoved {
    border-width: 0.125rem;
    border-style: dashed;
}
.blockmovetarget {
    display: block;
    height: 1em;
    margin-bottom: 1em;
    border-width: 0.125rem;
    border-style: dashed;
}
.block-region .invisible {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.block .block-hider-show,
.block .block-hider-hide {
    cursor:pointer;
}
.block .block-hider-show,
.block.hidden .block-hider-hide {
    display:none;
}
.block.hidden .block-hider-show {
    display:inline;
}
.block-region {
    float: left;
    padding: 0;
    font-size: 0.75rem;
    width: 100%;
}
.block-region ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.block-region li {
    padding: 0 0 1.25rem 0;
}
.block-region li ul {
}
.block-region li li {
    margin: 0 1.25rem 0 0.625rem;
    padding: 0.5rem 0rem;
}
.block .header {
    border:none;
    padding: 0.375rem 0 0.25rem;
    width: 100%;
}
.block .header div.commands {
    margin-left: 0.625rem;
}
#region-pre .block .header {
    color:#50646d;
}
#region-pre .block .content {
    background: #f6e9eb;
    border: 0 !important;
    border-radius: 0.25rem;
}
#region-post .block .header {
    border-bottom:0.06rem solid #ddd;
    color:#777;
}
.block .header .title h2 {
    padding :0rem 0rem 0.313rem 0.625rem;
    font-size : 1.2em;
    text-transform : uppercase;
    margin : 0 !important ;
    font-weight : 300;
    color : #fff;
    padding-top : 0.5rem;
}
.block .header .block_action {
    float:right;
    margin-right: 0.188rem;
    vertical-align:top;
    margin-top: 0.625rem;
}
.block .region-content {
    width: 100%;
    margin: 0;
    padding: 0;
}
.block .minicalendar {
    margin:0.625rem auto;
    width:100%;
}
/* @end */

/* @group List Block Contents */

.block .list .c0 {
    display:inline;
}
.block .list .c0 img.icon {
    vertical-align: middle
}
.block .list .c1 {
    margin-left:0.313rem;
    display:inline;
}
/* @end */


/* @group Login Block */

.block_login.block {
    width : 13.125rem;
    margin : 1.188rem;
}

.block_login div.content label {
    color: #000;
    /*--------------------------------------------------text-transform: uppercase;*/
    font-size : 1em;
    display : inline-block;
    min-width : 3.125rem;
    margin-right : 0.188rem;
    padding-bottom: 0.625rem;
}
.block_login div.content a {
    color: #fff;
}
.block_login input[type="text"],
.block_login input[type="password"],
.block_login textarea {
    background: #fff;/*---------------------------add---------------------------*/
    font-size: 1em;
    margin: -0.06rem;
    border: 0.063rem inset #ccc;
    color: #000;
    text-align: left;/*---------------------------add---------------------------*/
    width: 6.625rem;/*---------------------------add---------------------------*/
}
.block_login input,
.block_login input select {
    /*--------------------------------------------------background: #7e7f83;*/
    /*--------------------------------------------------border: 1px solid #fff;*/
    padding:0rem 0rem;
    /*--------------------------------------------------padding-top: 7px;
    --------------------------------------------------padding-bottom: 7px;*/
    color: #000;
    margin-top: 0.313rem;
    float: right;
}
.block_login .footer {
    padding-bottom: 0.625rem;
    height: 1.25rem;
}
.block_login .header h2,
.block_login .header .block_action {
    display: block;
}
/* @end */


/* @group Top Links */
#toplinks .region-content {
    margin: 0;
    padding: 1.25rem;
}
#toplinks .block {
    background: none;
    border: none;
    padding: 0.313rem;
}
#toplinks .block label,
#toplinks .block .block_action {
    display: none;
}
#toplinks .block .header {
    background: none;
}

#toplinks .block .title h2 {
    margin:0rem;
    padding:0rem;
    padding-bottom: 0.313rem;
    font-size: 1.1em;
}
#toplinks .block .content {
    padding: 0;
    margin-top: -0.188rem;
    border: none;
    font-weight: 20000;
}
/* @group Top Links HTML block */

#toplinks .block_html .content ul {
    margin: 0 auto;
    padding: 0;
    width: 11.875rem;
}
#toplinks .block_html .content ul li {
    padding: 0.5rem;
    text-transform: uppercase;
    margin-left:0rem;
    font-size: 1em;
}
#toplinks .block .header .commands {
    background: transparent;
    top:0rem;
    left: -0.625rem;
}
/* @end */

/* @end */
/* @group Bug fixes */

.block_settings .block_tree li.item_with_icon > p img,
.block_navigation .block_tree li.item_with_icon > p img {
    left:0;
    position:absolute;
    top:0rem !important;
    vertical-align:middle;
}
.block_settings .block_tree li.item_with_icon p img.smallicon,
.block_settings .block_tree li.item_with_icon p img.navicon,
.block_navigation .block_tree li.item_with_icon p img.smallicon,
.block_navigation .block_tree li.item_with_icon p img.navicon {
    margin: 0;
    padding: 0;
    vertical-align:middle;
}
.block_navigation .block_tree .type_activity > .tree_item.branch img {
    left:0rem;
    bottom:0rem;
    position:absolute;
}
/* @end */

/* @group My Profile */
.editing #search .block {
    border: 0 none;
    margin-top: 0;
    padding: 0 0.625rem;
    width: 14.375rem;
}
#search .block {
    margin-top: 0.313rem;
    padding: 0.625rem;
    border:0rem;
    width: 14.375rem;
}
.editing #search .block_myprofile .header,
.editing #search .block_myprofile .footer {
    display: block;
}
#search .block_myprofile .header,
#search .block_myprofile .footer {
    display: none;
}
#search .block_myprofile .block {
    background: transparent;
}
.editing #search .block_myprofile .title h2,
.editing #search .block_myprofile label,
.editing #search .block_myprofile .block_action {
    display: block;
}

#search .block_myprofile .title h2,
#search .block_myprofile label,
#search .block_myprofile .block_action {
    display: none;
}
.editing #search .block_myprofile div.content {
    padding:0rem;
    margin-top: 0.625rem;
    border: 0 none;
}
#search .block_myprofile div.content {
    padding:0rem;
    margin-top: -0.438rem;
    border: none;
}
#search .block_myprofile img.profilepicture {
    height:  1.25rem;
    width: 1.25rem;
    float: right;
    margin-top: 0;
    padding: 0.313rem;
}
#search .block_myprofile .fullname {
    font-size: 1.2em;
}

#search .block_myprofile .email {
    font-size: .95em;
}
#search .block_myprofile .country,
#search .block_myprofile .city {
    display: none;
}
/* @end */

/* @group Home Banner Blocks */

#homeblock .block {
    border: none;
    padding-top: 0.313rem;
}
#homeblock .block .content {
    border: none;
}
#homeblock .block .header .block_action{
    display: none;
}
#homeblock .block .header h2 {
    padding :0rem;
    color : #fff;
    padding-top :0rem;
}
#homeblock .block .header {
    padding:0rem;
    margin:0rem;
}
/* @end */

/* @group Calendar Block */

.block_calendar_month .calendartable .today {
    background: #efefef;
}
/* @end */

/* #group RSS block */
.block_rss_client .list li:first-child {
    border-top-width: 0;
}
.block_rss_client .list li {
    padding: 0.313rem;
}
/* @end */